          /* Setup */

*{
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  overflow: hidden;
}

body {
  /* transform: scale(.5) translateY(0vh); */
  min-height: 100vh;
}

          /* Body */

.loading {
  --padding: 3rem;
  --height: 33vh;
  --widht: 33vw;
  display: flex;
  gap: var(--padding);
  padding: var(--padding);
  position: absolute;
  top: calc(var(--height) * -1 - var(--padding) * 1.25 * -1 - var(--padding));
  left: calc( var(--widht) * -1);
  right: calc( var(--widht) * -1);
}

.bg-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--padding);

}

.bg-container > * {
  background: #f1f1f1;
  box-shadow: #0004 0 0 1rem;
  height: calc(var(--height) - var(--padding) * 1.25);
  border-radius: .125rem;
  transition: all 2.5s cubic-bezier(.2,1,.2,1) calc(var(--order) * 0.1s) ;
}

/* * 2n+1 */

.loading > :nth-child(2n+1) {
translate: 0px calc(var(--height) - var(--padding) / 4);
}

.loading > :nth-child(2n+1) > * {
translate: 0% -100vmax ;
}

/* * 2n */

.loading > :nth-child(2n) > * {
translate: 0% 100vmax ;
}

          
          /* Animation */

@keyframes name {
  0%{
  }
  100%{
  }
}

          /* Responsive */

@media screen and (max-width:1024px) {
}

@media screen and (max-width:826px) {
}

@media screen and (max-width:632px) {
}

@media screen and (min-width:calc(1920px * calc(1 + 1/2) - 100px)) {
  html{
    font-size: calc(16px * calc(1 + 1/2));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 1/3) - 200px)) {
  html{
    font-size: calc(16px * calc(1 + 1/3));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 1/1) - 300px)) {
  html{
    font-size: calc(16px * calc(1 + 1/1));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 2/1) - 400px)) {
  html{
    font-size: calc(16px * calc(1 + 2/1));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 3/1) - 500px)) {
  html{
    font-size: calc(16px * calc(1 + 3/1));
  }
}

          /* Custom-Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 0rem;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */